<%- include('header') -%>

<p>Halló <%= user.username %></p>

<% if (data) { %>
    <ul>
        <% data.forEach(function(item) { %>
            <li class="registration">
                <div class="rName"><%= item.name %></div>
                <div class="rKennitala"><%= item.kennitala %></div>
                <div class="rEmail"><%= item.email %></div>
                <div class="rAddress"><%= item.address %></div>
                <div class="rPhone"><%= item.phonenr %></div>
            </li>
        <% }) %>
    </ul>
<% }; %>

<%- include('footer') -%>
